# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
*.so
.venv/
venv/
env/

# Django
*.pyc
db.sqlite3
backend/.env
backend/bpa_apac_details/
backend/bpa_apac_outputs/
backend/staticfiles/
backend/media/

# Node / Vue
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.*.local

# Editores
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Logs
*.log
